.alert {
  display: flex;
  margin-top: 55px;
  height: 42px;
  width: 500px;
  background-color: var(--color-orange-020);
  justify-content: flex-start;
  padding: 0px 15px;
  align-items: center;
  border-radius: 8px;
}

.alert .alert__icon {
  height: 16px;
  width: 16px;
}

.alert .alert__paragraph {
  margin-left: 8px;
  color: var(--color-gray-080) sans-serif !important;
  font-family: "Quicksand", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 1280px) {
  .alert {
    width: 100%;
    padding: 25px;
  }
}

@media (max-width: 1024px) {
  .alert {
    width: 300px;
    line-height: 12px;
    margin: 75px 0px 30px 0px;
  }
}

@media (max-width: 912px) {
  .alert {
    width: 100%;
    margin-top: 50px;
  }
}
